{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 2%"
          ]
        },
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",{
            "targets": {
              "node": "current",
            },
            "modules": "commonjs",
            "useBuiltIns": false,
          },
        ],
      ],
    }
  }
}
